.header-title {
  width: 100hh;
  padding: 20px;
  background-color: var(--primary);
}
.title {
  text-align: center;
  color: var(--secondary-dark);
  font-weight: 900;
  text-decoration:none;
}
.title > span {
  color: var(--complementary-1);
  text-decoration:none;
}
Link{
  text-decoration:none;
}
/* Dropdown menu: */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary);
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 10px;
}
.navbar a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
  display: block;
}

.navbar li a,
.navbar .dropbtn {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.navbar li a:hover,
.navbar .dropdown:hover .dropbtn {
  color: var(--complementary-1);
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  background: var(--secondary);
  min-width: 160px;
  position: absolute;
  display: none;
}

.dropdown-content a {
  color: var(--primary);
  padding: 40px;
  line-height: 1.6;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
